body{
    background: linear-gradient(to right,blue,green,red,yellow,orange);
    background:-webkit-linear-gradient(to right,blue,green,red);
    background:-o-linear-gradient(to right,blue,green,red);
    background:-moz-linear-gradient(to left,blue,green,red);
    background:-ms-linear-gradient(to right,blue,green,red,yellowgreen);
}