div{
    margin: 2.5%;
    float: left;
}
.box1{
    box-sizing: border-box;
    height: 150px;
    width: 20%;
    border-radius: 80px;
    background-color: #ff2837;
    box-shadow: -10px -10px 20px black;
}
.box1:hover{
    transition: 1.1s;
    background: #495aff;
    transform: translateY(500px);
}
.box2{
    box-sizing: border-box;
    height: 150px;
    width: 20%;
    border-radius: 15px 60px;
    background-color: blue;
    box-shadow: 10px 10px 20px black;
}
.box2:hover{
    transition: 1.1s;
    background-color: green;
    transform: skewY(50deg);
}
.box3{
    box-sizing: border-box;
    height: 150px;
    width: 20%;
    border-radius: 25px 50px 100px;
    background-color: #6fff6b;
    box-shadow: 10px 10px 20px black;
}
.box3:hover{
    transition: 1.1s;
    background-color: #af9513;
    transform: rotate(360deg);
}
.box4{
    box-sizing: border-box;
    height: 150px;
    width: 20%;
    border-radius: 10px 20px 30px 40px;
    background-color: blue;
    box-shadow: 10px 10px 20px black;
}
.box4:hover{
    transition: 0.5s;
    background-color: #268035;
    transform: scale(1.1);
}
